.layout {
  font-size: 16px;
  background-color: #fff;
  width: 15%;
  padding: 0;
  margin: 0;
  position: fixed;
  height: 100%;
  overflow: auto;
  flex-shrink: 0;
}

.logo {
  padding: 18%;
  text-align: center;
  border-bottom: 2px solid #a4a4a4;
}

.menu {
  font-weight: 550;
  margin: 0 6% 0 6%;
}

.menu a {
  text-decoration: none;
}

.link {
  color: #a4a4a4;
  padding: 8px 15px 8px 15px;
  margin: 0 0 3% 0;
}

.link:hover {
  background-color: var(--light-blue);
  border-radius: 8px;
}

.activeLink {
  background-color: var(--main);
  border-radius: 8px;
  color: #fff;
  padding: 8px 15px 8px 15px;
  margin: 0 0 3% 0;
}

.line {
  border-bottom: 1.5px solid #dcdcdc;
}

.board {
  margin: 180% 6% 7% 6%;
  background-color: #fafafa;
  padding: 30%;
  height: 18%;
  border-radius: 8px;
}

.logout {
  color: var(--medium);
  font-weight: 500;
  margin: 0 6% 0 6%;
  padding: 8px 15px 8px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.logout:hover {
  background-color: #ffebeb;
  color: #ff5252;
}
