.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
  width: 85%;
}

.username label {
  margin-right: 2%;
  color: var(--medium);
  text-align: right;
  font-size: 12px;
}
